/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

body {
    font-family: 'Roboto', sans-serif;
}

.header-toolbar {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.card-title {
    font-size: 1.5em;
    color: aliceblue;
}

.paragraph {
    font-size: 0.6em;
    color: #c1c1c1;
}

.movie {
    background-color: #252525;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-right: 15px;
    margin-left: 15px;
}
